


/**
FORMATO DE MENSAJE DE VALIDACION DE FORMULARIO
**/


.validacion {
    color      : #ff0000;
    margin-left: 5%;
}

#validacion {
    color      : #ff0000;
    margin-left: 5%;
}

.validacion2 {
    color      : #FFFAFA ;
    margin-left: 5%;
    text-align: center;
}

#validacion2 {
    color      : #FFFAFA ;
    margin-left: 5%;
    text-align: center;
}

.up{
    margin-top: -10%;
}
#up{
    margin-top: -10%;
}

/**
 FORMATO MENSAJE DE VALIDACIOND DE TABLAS VACIAS  
  **/

#noDato {
    background-color: transparent;
    
    color           : #ff0000;
    text-align      : center;
}

#siDato {
    background-color: transparent;
    color           : #FFFAFA;
}

/*ALIGNACIONTEXTO*/

.center, #center {


    text-align: center;
}

.justify, #justify {

    text-align: justify;
}

.right, #right {

    text-align: right;
}

.left, #left {

    text-align: left;
}

.start, #start {
    text-align: start;
}

.end, #end {
    text-align: end;

}